[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/nokit-coder/nvim-config.git
[submodule ".config/hypr/hyprvim"]
	path = .config/hypr/hyprvim
	url = https://github.com/uhs-robert/hyprvim.git
